*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6, p, a{font-style: inherit; font-weight: inherit; font-size: inherit;}


body {
   font-family: 'Montserrat';
}
.review {
   background: #FBF7F6;
   padding: 34px 0px 49px;
}
.container {
   max-width: 1234px;
   margin: 0 auto;
}
h4 {
   font-weight: 900;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0.04em;
   color: #371030;
   margin-top: 34px;
}
.revier__form {
   width: 100%;
}
.form__textarea {
   width: 100%;
   min-height: 188px;
   background: #F9F0EE;
   border-radius: 5px;
   margin-top: 25px;
   padding: 18px 25px;
   resize: none;
}
.form__textarea::placeholder {
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;letter-spacing: 0.04em;
   color: #000000;
   opacity: 0.5;
}
.form__inputs {
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
}
.form__input {
   width: calc(387/1234*100%);
   min-height: 41px;
   background: #F9F0EE;
   border-radius: 5px;
   padding: 6px 25px 5px;
}
.form__input::placeholder {
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.04em;
   color: #000000;
   opacity: 0.5;
}
.form__btn {
   margin-top: 30px;
}
.form__btn button {
   width: 250px;
   height: 63px;
   background: #FFB0BA;
   box-shadow: 3px 3px 0px 3px #DE8E98;
   border-radius: 100px;
   font-weight: 900;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.04em;
   color: #9A3C48;
}
.form__checkbox {
   display: none;
}
.form__btn label {
   height: 30px;
   font-weight: 400;
   font-size: 12px;
   line-height: 30px;
   letter-spacing: 0.04em;
   color: #000000;
   opacity: 0.5;
}
.form__btn label::before {
   content: '';
   display: inline-block;
   width: 26px;
   height: 23px;
   background: #F9F0EE;
   border-radius: 5px;
   margin: 0 15px 0 30px;
   margin-right: 15px;
   vertical-align: middle;
}
input[type="checkbox"]:checked + label::before {
   background: url(check.png) center no-repeat;
}
@media (max-width:992px) {
   .review {
      padding: 34px 10px 49px;
   }
   .form__btn button {
      display: block;
      margin: 0 auto;
   }
   .form__btn label {
      display: block;
   }
   h4 {
      text-align: center;
   }
}
@media (max-width:768px) {
   h4 {
      text-align: center;
   }
}
@media (max-width:576px) {
   .form__inputs {
      flex-direction: column;
   }
   .form__input {
      width: 100%;
   }
}