.banner {
	background: url(../img/bg/banner_bg.png) center center/cover no-repeat;
	padding: 208px 0px 184px;
	position: relative;
}
/* .banner__shadow {
	background: rgba(0, 0, 0, 0.5);
	padding: 208px 0px 184px;
} */
.banner::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
}
.banner__main {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.banner__title {
	max-width: 670px;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 53px;
}
.banner__hr {
	width: 170px;
	height: 0px;
	border: 1px solid #FFFFFF;
	margin-top: 51px;
}
.banner__wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}
.banner__descr {
	max-width: 270px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-top: 43px;
}
.banner__main button {
	margin-top: 41px;
}
.form {
	background: #FFFFFF;
	border-radius: 10px;
}
.banner__form {
	width: 470px;
	height: 450px;
	padding: 28px 50px 0px;
	position: relative;
}
.form__header {
	display: block;
	width: 100%;
	height: 64px;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	/* margin-top: 30px; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
	text-align: center;
	text-transform: uppercase;
	color: #333333;
}
.form__header span {
	color: #EC7979;
}
.form input {
	width: 100%;
	height: 35px;
	padding-bottom: 16px;
	border-bottom: 3px solid #BDBDBD;
}
.banner__form input:nth-child(2) {
	margin-top: 45px;
}
.banner__form input:nth-child(n+3) {
	margin-top: 35px;
}
.banner__form button {
	position: absolute;
	margin: 0px -50px;
	width: 100%;
	bottom: 0px;
}