.contact {
	padding: 50px 0px;
}
.contact__wrapper {
	margin-top: 89px;
	display: flex;
	justify-content: center;
	gap: 30px;
}
.contact__wrapper form {
	width: 50%;
}
.contact__form input:nth-child(n+2) {
	margin-top: 50px;
}
.form__hr_down {
	margin-top: 192px;
}