.stylish {
	
	background: url(../img/bg/stylish1.png) center center/cover no-repeat;;
}
.stylish__shadow {
	background: rgba(0, 0, 0, 0.5);
	padding: 50px 0px;
}
.section-title_white, .section-subtitle_white {
	color: #FFFFFF;
}
.button-type-one_center {
	margin: 73px auto 0px;
	width: 370px;
}