.stylish {
	background: url(../img/bg/stylish1.png) center center/cover no-repeat;;
	padding: 50px 0px;
	position: relative;
}
.stylish::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
}
.stylish .container {
	position: relative;
	z-index: 2;
}
.section-title_white, .section-subtitle_white {
	color: #FFFFFF;
}
.section-hr_white {
	border: 1px solid #FFFFFF;
}
.button-type-one_center {
	margin: 73px auto 0px;
	width: 370px;
}