.tabs {
	padding-top: 99px;
}
.tabs__controls {
	display: flex;
}
.tabs__item {
	width: 184px;
	height: 40px;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: #333333;
	cursor: pointer;
	width: 203px;
}
.tabs__controls .tabs__item:nth-child(1) {
	border-left: 1px solid #C6CBCD;
	border-top: 1px solid #C6CBCD;
	border-right: 1px solid #C6CBCD;
	border-radius: 4px 4px 0px 0px;
}
.tabs__controls .tabs__item:nth-child(n+2) {
	border-bottom: 1px solid #C6CBCD;
}

.tabs__item_clear {
	width: 600px;
}
.info-box {
	width: 1170px;
	min-height: 501px;
	display: flex;
	border-bottom: 1px solid #C6CBCD;
	border-left: 1px solid #C6CBCD;
	border-right: 1px solid #C6CBCD;
}

.tabs__info {
	max-width: 700px;
	padding: 1px 30px 54px 100px;
}
.tabs__title {
	width: 570px;
	min-height: 124px;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	display: flex;
	align-items: center;
	color: #000000;
}

.tabs__text {
	max-width: 570px;
	margin: 27px 0px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.tabs__text p:nth-child(n+1) {
	margin-top: 20px;
}
.tabs__photo {
	width: 470px;
	height: 500px;
}