*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
}
/* a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;} */
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

html {
	font-family: Roboto;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	min-height: 352px;
	margin-top: 30px;
	padding: 60px;
	background: rgba(228, 246, 251, 0.5);
}
.header-name__photo {
	height: 150px;
	width: 150px;
	border: 1px solid #D9D9D9;
	border-radius: 50%;
}
.header-name__info {
	font-weight: 600;
	font-size: 52px;
	line-height: 34px;
	color: #222222;
}
.header-name__profession {
	font-weight: 500;
	font-size: 32px;
	line-height: 24px;
	color: #1C8EB5;
	margin-top: 25px;
}
.header-info {
	width: 630px;
	min-height: 112px;
}
.header-info__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 14px;
	color: #222222;
}
.header-about__main {
	display: flex;
	gap: 24px;
	align-items: center;
}
.header-about__submain {
	margin-top: 30px;
	max-width: 700px;
}
.header-about__text {
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	color: #222222;
}
.header-wrapper {
	display: flex;
	justify-content: space-between;
}
.header-contacts {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #1C8EB5;
}
section {
	margin-top: 40px;
}
.section-name {
	font-weight: 500;
	font-size: 30px;
	line-height: 20px;
	color: #1C8EB5;
	margin-bottom: 20px;
}
.education-item div {
	margin-bottom: 15px;
}
.education-item__years {
	font-weight: 400;
	font-size: 22px;
	line-height: 20px;
}
.education-item__name {
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	color: #222222;
}
.education-item__faculty {
	font-weight: 400;
	font-size: 22px;
	line-height: 20px;
}
p {
	margin-top: 10px;
}
.work-item__years {
	font-weight: 400;
	font-size: 22px;
	line-height: 20px;
}
.work-item__name, .work-item__job {
	font-weight: 400;
	font-size: 22px;
	line-height: 20px;
}


/* .header-wrapper {
	display: flex;
	justify-content: space-between;
}
.header-wrapper__photo {
	display: flex;
}
.header-wrapper__info {
	margin-left: 30px;
}
.photo-img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
.name {
	font-size: 60px;
	font-weight: 800;
}
.profession {
	font-size: 25px;
}
.contact__name {
	font-weight: 900;
	font-size: 40px;
	line-height: 79px;
	letter-spacing: 0.105em;
	text-transform: uppercase;
	color: #242732;
}
.contact__info {
	font-weight: 400;
	font-size: 25px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #333333;
} */







/* .name {
	font-size: 32px;
	color: blue;
}
.profession {
	font-size: 18px;
}
section {
	margin-top: 30px;
}
.section-title {
	font-size: 24px;
	margin-bottom: 20px;
}
.contact__type {
	min-width: 100px;
	font-size: 16px;
}
.contact__mail, .contact__github {
	display: flex;
	justify-content: start;
} */
